In [4]:
import pandas as pd
import numpy as np

luftd_df = pd.read_csv("data/luftdaten/2018-05-10_sds011_sensor_7789.csv", sep=";")

luftd_df.head(10)

,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2
0,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:00:08,11.13,NaN,NaN,3.23,NaN,NaN
1,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:02:35,10.40,NaN,NaN,2.70,NaN,NaN
2,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:05:02,12.47,NaN,NaN,3.20,NaN,NaN
3,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:07:28,12.20,NaN,NaN,3.57,NaN,NaN
4,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:09:55,11.93,NaN,NaN,2.87,NaN,NaN
5,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:12:22,12.03,NaN,NaN,3.20,NaN,NaN
6,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:14:49,9.70,NaN,NaN,3.27,NaN,NaN
7,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:17:15,9.30,NaN,NaN,3.97,NaN,NaN
8,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:19:42,12.10,NaN,NaN,3.40,NaN,NaN
9,7789,SDS011,3939,57.13,-2.087,2018-05-10T00:22:09,10.17,NaN,NaN,3.47,NaN,NaN

In [6]:
import pandas as pd
import numpy as np

madavi_df = pd.read_csv("data/madavi/data-esp8266-12017738-2018-04-01.csv", sep=";")

madavi_df.head(10)

,,Time,durP1,ratioP1,P1,durP2,ratioP2,P2,SDS_P1,SDS_P2,Temp,Humidity,BMP_temperature,BMP_pressure,BME280_temperature,BME280_humidity,BME280_pressure,Samples,Min_cycle,Max_cycle,Signal
2018/04/01 00:02:22,NaN,NaN,NaN,NaN,NaN,NaN,6.97,3.03,NaN,NaN,4.9,69.8,NaN,NaN,NaN,NaN,NaN,618238,221,24395,-94
2018/04/01 00:04:48,NaN,NaN,NaN,NaN,NaN,NaN,7.03,2.90,NaN,NaN,4.9,68.1,NaN,NaN,NaN,NaN,NaN,613005,231,24392,-93
2018/04/01 00:07:14,NaN,NaN,NaN,NaN,NaN,NaN,5.90,2.93,NaN,NaN,4.9,69.7,NaN,NaN,NaN,NaN,NaN,612882,230,24451,-92
2018/04/01 00:09:41,NaN,NaN,NaN,NaN,NaN,NaN,6.00,3.00,NaN,NaN,4.9,68.3,NaN,NaN,NaN,NaN,NaN,610812,231,24409,-94
2018/04/01 00:12:08,NaN,NaN,NaN,NaN,NaN,NaN,7.00,2.73,NaN,NaN,4.9,68.7,NaN,NaN,NaN,NaN,NaN,610240,231,24449,-94
2018/04/01 00:14:34,NaN,NaN,NaN,NaN,NaN,NaN,6.10,2.30,NaN,NaN,4.9,68.8,NaN,NaN,NaN,NaN,NaN,609923,235,24412,-94
2018/04/01 00:17:01,NaN,NaN,NaN,NaN,NaN,NaN,6.80,2.70,NaN,NaN,4.8,67.0,NaN,NaN,NaN,NaN,NaN,608913,234,24407,-94
2018/04/01 00:19:27,NaN,NaN,NaN,NaN,NaN,NaN,6.70,2.33,NaN,NaN,4.8,67.6,NaN,NaN,NaN,NaN,NaN,610684,232,24434,-94
2018/04/01 00:21:54,NaN,NaN,NaN,NaN,NaN,NaN,9.47,3.00,NaN,NaN,4.8,65.6,NaN,NaN,NaN,NaN,NaN,607973,235,24471,-94
2018/04/01 00:24:23,NaN,NaN,NaN,NaN,NaN,NaN,5.57,3.10,NaN,NaN,4.8,67.5,NaN,NaN,NaN,NaN,NaN,607816,235,24406,-94